USE [master]
GO
/****** Object:  Database [TransportDB]    Script Date: 2/1/2025 11:11:00 PM ******/
CREATE DATABASE [TransportDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TransportDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TransportDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TransportDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TransportDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TransportDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TransportDB]
GO
/****** Object:  User [TransportApp_STB]    Script Date: 2/1/2025 11:11:00 PM ******/
CREATE USER [TransportApp_STB] FOR LOGIN [TransportApp_STB] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [TransportApp]    Script Date: 2/1/2025 11:11:00 PM ******/
CREATE USER [TransportApp] FOR LOGIN [TransportApp] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [TransportApp_STB]
GO
ALTER ROLE [db_owner] ADD MEMBER [TransportApp]
GO
/****** Object:  Table [dbo].[Angajat]    Script Date: 2/1/2025 11:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Angajat](
	[id_unic] [int] IDENTITY(1,1) NOT NULL,
	[salariu] [decimal](10, 2) NOT NULL,
	[id_persoana] [int] NOT NULL,
	[tip_angajat] [int] NOT NULL,
	[data_angajarii] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bilet]    Script Date: 2/1/2025 11:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bilet](
	[id_unic] [int] IDENTITY(1,1) NOT NULL,
	[tip_bilet] [int] NOT NULL,
	[valabilitate] [date] NOT NULL,
	[id_calator] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaint]    Script Date: 2/1/2025 11:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaint](
	[id_unic] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[text_plangere] [varchar](1200) NULL,
	[id_tip_MTC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coordonate_Statie]    Script Date: 2/1/2025 11:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coordonate_Statie](
	[id_unic] [int] IDENTITY(1,1) NOT NULL,
	[id_statie] [int] NULL,
	[coord_X] [int] NOT NULL,
	[coord_Y] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MT]    Script Date: 2/1/2025 11:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT](
	[id_unic] [int] IDENTITY(1,1) NOT NULL,
	[id_tip] [int] NOT NULL,
	[nr_traseu] [int] NOT NULL,
	[nr_inmatriculare] [nvarchar](20) NOT NULL,
	[id_sofer] [int] NOT NULL,
	[numar_mt] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persoana]    Script Date: 2/1/2025 11:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persoana](
	[id_unic] [int] IDENTITY(1,1) NOT NULL,
	[tip_persoana] [int] NOT NULL,
	[nume] [nvarchar](100) NOT NULL,
	[prenume] [nvarchar](100) NOT NULL,
	[CNP] [char](13) NULL,
	[adresa] [nvarchar](200) NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statie]    Script Date: 2/1/2025 11:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statie](
	[id_unic] [int] NOT NULL,
	[id_traseu] [int] NOT NULL,
	[id_tip_statie] [int] NOT NULL,
	[ore] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip_Angajat]    Script Date: 2/1/2025 11:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip_Angajat](
	[id_unic] [int] IDENTITY(1,1) NOT NULL,
	[nume] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip_Bilet]    Script Date: 2/1/2025 11:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip_Bilet](
	[id_unic] [int] IDENTITY(1,1) NOT NULL,
	[nume] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip_Statie]    Script Date: 2/1/2025 11:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip_Statie](
	[id_unic] [int] NOT NULL,
	[nume] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip_User]    Script Date: 2/1/2025 11:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip_User](
	[id_unic] [int] IDENTITY(1,1) NOT NULL,
	[nume] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipMT]    Script Date: 2/1/2025 11:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipMT](
	[id_unic] [int] IDENTITY(1,1) NOT NULL,
	[nume] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traseu]    Script Date: 2/1/2025 11:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traseu](
	[id_unic] [int] IDENTITY(1,1) NOT NULL,
	[nume] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/1/2025 11:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id_unic] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[id_persoana] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Angajat]  WITH CHECK ADD  CONSTRAINT [FK_Persoana_Angajat] FOREIGN KEY([id_persoana])
REFERENCES [dbo].[Persoana] ([id_unic])
GO
ALTER TABLE [dbo].[Angajat] CHECK CONSTRAINT [FK_Persoana_Angajat]
GO
ALTER TABLE [dbo].[Angajat]  WITH CHECK ADD  CONSTRAINT [FK_TipAngajat_Angajat] FOREIGN KEY([tip_angajat])
REFERENCES [dbo].[Tip_Angajat] ([id_unic])
GO
ALTER TABLE [dbo].[Angajat] CHECK CONSTRAINT [FK_TipAngajat_Angajat]
GO
ALTER TABLE [dbo].[Bilet]  WITH CHECK ADD  CONSTRAINT [FK_TipBilet_Bilet] FOREIGN KEY([tip_bilet])
REFERENCES [dbo].[Tip_Bilet] ([id_unic])
GO
ALTER TABLE [dbo].[Bilet] CHECK CONSTRAINT [FK_TipBilet_Bilet]
GO
ALTER TABLE [dbo].[Bilet]  WITH CHECK ADD  CONSTRAINT [FK_User_Bilet] FOREIGN KEY([id_calator])
REFERENCES [dbo].[User] ([id_unic])
GO
ALTER TABLE [dbo].[Bilet] CHECK CONSTRAINT [FK_User_Bilet]
GO
ALTER TABLE [dbo].[Complaint]  WITH CHECK ADD  CONSTRAINT [FK_TipMT] FOREIGN KEY([id_tip_MTC])
REFERENCES [dbo].[TipMT] ([id_unic])
GO
ALTER TABLE [dbo].[Complaint] CHECK CONSTRAINT [FK_TipMT]
GO
ALTER TABLE [dbo].[Complaint]  WITH CHECK ADD  CONSTRAINT [FK_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_unic])
GO
ALTER TABLE [dbo].[Complaint] CHECK CONSTRAINT [FK_User]
GO
ALTER TABLE [dbo].[Coordonate_Statie]  WITH CHECK ADD FOREIGN KEY([id_statie])
REFERENCES [dbo].[Tip_Statie] ([id_unic])
GO
ALTER TABLE [dbo].[MT]  WITH CHECK ADD  CONSTRAINT [FK_Sofer_MT] FOREIGN KEY([id_sofer])
REFERENCES [dbo].[Angajat] ([id_unic])
GO
ALTER TABLE [dbo].[MT] CHECK CONSTRAINT [FK_Sofer_MT]
GO
ALTER TABLE [dbo].[MT]  WITH CHECK ADD  CONSTRAINT [FK_TipMT_MT] FOREIGN KEY([id_tip])
REFERENCES [dbo].[TipMT] ([id_unic])
GO
ALTER TABLE [dbo].[MT] CHECK CONSTRAINT [FK_TipMT_MT]
GO
ALTER TABLE [dbo].[MT]  WITH CHECK ADD  CONSTRAINT [FK_Traseu_MT] FOREIGN KEY([nr_traseu])
REFERENCES [dbo].[Traseu] ([id_unic])
GO
ALTER TABLE [dbo].[MT] CHECK CONSTRAINT [FK_Traseu_MT]
GO
ALTER TABLE [dbo].[Persoana]  WITH CHECK ADD  CONSTRAINT [FK_TipUser_Persoana] FOREIGN KEY([tip_persoana])
REFERENCES [dbo].[Tip_User] ([id_unic])
GO
ALTER TABLE [dbo].[Persoana] CHECK CONSTRAINT [FK_TipUser_Persoana]
GO
ALTER TABLE [dbo].[Statie]  WITH CHECK ADD  CONSTRAINT [FK_Traseu_Statie] FOREIGN KEY([id_traseu])
REFERENCES [dbo].[Traseu] ([id_unic])
GO
ALTER TABLE [dbo].[Statie] CHECK CONSTRAINT [FK_Traseu_Statie]
GO
ALTER TABLE [dbo].[Statie]  WITH CHECK ADD  CONSTRAINT [FK_Traseu_Tip_Statie] FOREIGN KEY([id_tip_statie])
REFERENCES [dbo].[Tip_Statie] ([id_unic])
GO
ALTER TABLE [dbo].[Statie] CHECK CONSTRAINT [FK_Traseu_Tip_Statie]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_Persoana_User] FOREIGN KEY([id_persoana])
REFERENCES [dbo].[Persoana] ([id_unic])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_Persoana_User]
GO
USE [master]
GO
